* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  max-width: 900px;
  height: 100%;
  margin: auto;
}

#recipe-section {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid #f1f1f1;
  height: 100%;
}

#recipe-section p {
  margin: 30px 0px 50px 0px;
  font-size: 20px;
}

.section-heading {
  margin: 30px;
  font-size: 70px;
}

#food-input {
  font-size: 20px;
}

#recipe-button {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 450px;
  justify-content: space-evenly;
}
.recipesAll {
  width: 250px;
  margin: 10px;
}

.imgAll {
  width: 250px;
  height: 100%;
  border: 3px solid white;
  align-items: stretch;
}

#recipe-label1 {
  color: whitesmoke;
  font-size: 25px;
  max-width: 500px;
}

/* #recipeImg1 { */
/* margin: 20px; */
/* max-width: fit-content; */
/* max-height: 270px; */
/* } */

#recipe-label2 {
  color: whitesmoke;
  font-size: 25px;
  max-width: 500px;
}

#recipe-label3 {
  color: whitesmoke;
  font-size: 25px;
  max-width: 500px;
}

.scroll {
  font-size: 30px;
  color: whitesmoke;
  background-color: black;
  margin: 20px 0px 20px 0px;
}

#left {
  margin-right: 300px;
}

#right {
  margin-left: 300px;
}
