* {
  margin: 0px;
  padding: 0px;
  outline: none;
}

body {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  max-width: 958px;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}

#recipe-section {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #f1f1f1;
  height: 100%;
  /* width: 958px; */
}

#recipe-section p {
  margin: 20px 0px 30px 0px;
  font-size: 20px;
}

.section-heading {
  margin: 20px;
  font-size: 70px;
}

.foodInput {
  font-size: 20px;
  background-color: rgb(245, 169, 71);
  color: white;
  text-align: center;
}
.or {
  margin: 10px 0px 10px 0px;
}
#recipe-button {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  background-color: greenyellow;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 450px;
  justify-content: space-evenly;
}
.recipesAll {
  width: 300px;
  margin: 10px;
}

.imgAll {
  width: 300px;
  height: 90%;
  border: 3px solid white;
  /* align-items: stretch; */
  box-sizing: border-box;
}

#recipe-label1 {
  color: whitesmoke;
  font-size: 25px;
  max-width: 500px;
}

/* #recipeImg1 { */
/* margin: 20px; */
/* max-width: fit-content; */
/* max-height: 270px; */
/* } */

#recipe-label2 {
  color: whitesmoke;
  font-size: 25px;
  max-width: 500px;
}

#recipe-label3 {
  color: whitesmoke;
  font-size: 25px;
  max-width: 500px;
}

.scroll {
  font-size: 40px;
  color: whitesmoke;
  background-color: black;
  /* margin: 10px 0px 10px 0px; */
}

#left {
  margin-right: 300px;
}

#right {
  margin-left: 300px;
}
